<section>
    <div class="container-fluid">
        <div class="container-fluid d-flex justify-content-between bg-light ">
            <button class="btn btn-primary mb-1 fa fa-refresh mt-1" (click)="restaurarBtn()"></button>
            <p>Items: {{tabla.length}}</p>
        </div>
        <table class="table  table-bordered table-hover table-info">
            <thead>
                <tr>
                    <th class="col-codigo">Código</th>
                    <th class="col-nombre">Nombre</th>
                    <th class="col-cantidad">Cantidad</th>
                    <th class="col-resposable">Responsable</th>
                    <th class="col-cantidad" >Fecha</th>
                    <th>Devolución</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                <!-- Buscador -->
                <tr>
                    <td>                        
                        <input type="number" class="inputNumber"  (input)="codigoSearch($event)" placeholder="Id">
                    </td>
                    <td>
                        <input type="text" class="inputText" (input)="nombreSearch($event)" placeholder="Nombre">
                    </td>
                    <td></td>
                    <td>
                        <select (input)="personaSearch($event)" class="empleado-search">
                            <option value="" ></option>
                            @for(empleado of empleados;track empleado.nombre){
                                <option value="" >{{empleado.nombre}}</option>
                            }  
                        </select>
                    </td>
                    <td>
                        <input type="date" class="inputText" (input)="fechaSearch($event)">
                    </td>
                    <td class="btn-entrego-hd">
                        <button class="btn btn-primary "><i class="fa fa-check" (click)="devolverTodo()" ></i></button>                        
                    </td>
                    <td>
                        <input type="text" class="inputText inputText-notas" placeholder="Notas">
                    </td>
               </tr>
               @for (dato of tabla; track dato.id ){
                    <tr>
                        <td>{{dato.id}}</td>
                        <td>{{dato.nombre}}</td>
                        <td>
                            <input type="number" min="0" class="inputNumber"  placeholder="Cant.">
                        </td>
                        <td>
                            <select name="personal" id="personal" (input)="entrega($event)">
                                @if (dato.responsable) {
                                    <option value="">{{dato.responsable}}</option>
                                }@else{
                                    <option value="" ></option>
                                    @for(empleado of empleados;track empleado.nombre){
                                        <option value="" >{{empleado.nombre}}</option>
                                    }  
                                }
                            </select>
                        </td>
                        <td>
                            {{dato.fecha_adquisicion==false?'':dato.fecha_adquisicion}}
                        </td>
                        <td class="btn-entrego-td">
                            <button class="btn btn-warning btn-entrego" (click)="devueltoBtn($event)" [hidden]="!dato.responsable"><i class="fa fa-check" ></i></button>
                        </td>
                        <td>
                            <input type="text" class="inputText inputText-notas" placeholder="Notas">
                        </td>
                    </tr>
               }
            </tbody>
        </table>
    </div>
</section>