
<nav class="navbar navbar-expand-sm bg-light justify-content-between mb-3">
    <ul class="nav nav-pills ms-3" role="tablist">       
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="pill" routerLink="" ><i class="fa-solid fa-house-chimney"></i> </a>
        </li>
        <li class="nav-item" >  
          <a class="nav-link" data-bs-toggle="pill" routerLink="materiales"  >Materiales</a>
        </li>       
        <li class="nav-item" >  
          <a class="nav-link" data-bs-toggle="pill" routerLink="consumibles"  >Consumibles</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" routerLink="herramientas" >Herramientas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" routerLink="ordenes" >Órdenes</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" routerLink="transito" >En tránsito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="pill" routerLink="inventario" >Inventario</a>
        </li>
       
    </ul>
  </nav>


<router-outlet></router-outlet>