/* .entregado{
    
} */

.input_number{
    width: 20%;
}

.number_tabla{
    width: 10%;
}

.codigo_tabla{
    width: 5%;
}

.th-check{
    width: 3%;
}

.input-tabla{
    width: 100%;
}

.numero-tabla-h{
    width: 5%;
    
}

.nombre-tabla-h{
    width: 15%;
}

.nombre_tabla{
    width: 25%;
}

.centrar_columna{
    text-align: center;
}

.stock-tabla-h{
    width: 10%;
}

