<div class="container-fluid">
    
    <table class="table  table-bordered table-hover table-primary" >
        <caption >{{cliente}} - {{proyecto}}</caption>
        <thead class="table-dark">
           <tr>
            <th class="numero-tabla-h">Orden</th>
            <th class="numero-tabla-h">Código</th>
            <th class="nombre-tabla-h">Nombre</th>
            <th class="nombre-tabla-h">Medida</th>
            <th class="text-center"><i class="fa-solid fa-clipboard-check"></i></th>
            <th class="stock-tabla-h">Stock</th>
            <th>Cantidad</th>
            <th>Entregado</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="number" class="input-tabla orden-search" (input)="onOrdenInput($event)" placeholder="Orden" [value]="ordensch !== '' ? ordensch : ''">
                </td>
                <td>                        
                    <input type="number" class="input-tabla"  (input)="onCodigoInput($event)" placeholder="Id">
                </td>
                <td>
                    <!-- <input type="text" class="inputText" (input)="onNombreInput($event)" placeholder="Nombre"> -->
                </td>
                <td>
                    <!-- <input type="text" class="inputText" (input)="onMedidaInput($event)" placeholder="Medidas"> -->
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
           </tr>
            @for (item of material; track item.numero){                
                <tr>                    
                    <td>{{item.orden}}</td>
                    <td class="codigo_tabla">{{item.codigo}}</td>
                    <td class="nombre_tabla">{{item.nombre}}</td>
                    <td class="number_tabla">{{item.medida}}</td>
                    <!-- Informa a ingeniería que ya reviso este item -->
                    <td class="th-check text-center ">
                        <input type="checkbox" class="form-check-input" (input)="exitenciaCBX($event)"  [checked]="item.almacen" min="0">
                    </td>
                    <!-- Actualizar almacén y la orden -->
                    <td class="centrar_columna ">
                        <input class="w-100" type="number" min="0" value="{{item.stock}}" (input)="almacenFNC($event)">
                    </td>
                    <!-- Se pone la cantidad entregada a producción -->
                    <td class="centrar_columna">{{item.cantidad}}</td>                
                    <td class="entregado">
                        <div class="d-inline-flex p-3 ">
                            <input type="number" min="0" value={{item.cantidad}} class="me-1" style="width: 10%;"  [readOnly]="item.entregado" [style.opacity]="item.entregado ? '0.5' : '1'" >
                            <!-- <label type="text" for="personal" class="me-1 input_text"  [style.opacity]="item.entregado ? '0.5' : '1'" placeholder="Recibe" value="{{item.recibe}}"> -->
                            <select name="personal" id="personal" [style.opacity]="item.entregado ? '0.5' : '1'" >
                               @if(item.recibe){
                                    <option value="" >{{item.recibe}}</option>
                               }@else {
                                   @for(empleado of empleados;track empleado.nombre){
                                       <option value="" >{{empleado.nombre}}</option>
                                   }                               
                               }
                            </select>
                            <button class="btn btn-success btn-sm " (click)="entregado($event)"  [hidden]="item.entregado"><i class="fa-solid fa-building-circle-arrow-right"></i></button>
                        </div>
                    </td>                
                </tr>
            }
        </tbody>
       
    </table>
</div>