.entregado{
    display: flex; 
    width: 100%;   
}

.entregado input{
    width: 50%;
}

button{
    margin-left: 3px;
}

tr.highlight-red{
    background-color: #f2091d !important;
}


.highlight-yellow{
    background-color: #f2bb08;
}
.minimo{
    display: flex;
    width: 100%;

}

.minimo input{
    width: 50%;
}

.minimo_head{
    width: 10%;
}

.medida_head{
    width: 15%;
}