.medida-codigo{
    width: 0%;    
}
.medida-nombre{
    width: 15%;    
}
.medida-medida{
    width: 15%;    
}
.minimo-minimo{
    width: 0%;
}
.medida-cantidad{
    width: 0%;
    
}
.medida-entregado{
    width: 10%;
    
}
.medida-recibe{
    width: 15%;
    
}
.medida-notas{
    width: 10%;
    
}

.td-filter{
    width: 100%;
}




.entregado{
    display: flex; 
    width: 100%;   
}


button{
    margin-left: 3px;
}

/* Condicionales */
tr.highlight-red{
    background-color: #f2091d !important;
}


.highlight-yellow{
    background-color: #f2bb08;
}