<section>
    <div class="container-fluid">
        <table class="table table-success table-striped " >
            <thead >
                <tr >
                    <td>Código</td>
                    <td>Nombre</td>
                    <td class="medida_head">Medida</td>
                    <td class="minimo_head">Mínimo</td>
                    <td>Cantidad</td>
                    <td>Entregado</td>                    
                    <td>Recibe</td>                    
                    <td>Notas</td>                    
                </tr>
            </thead>
            <tbody>
                @for (dato of consumibles; track dato.id ){    
                    <tr [class.table-danger]="dato.cantidad===0" [class.table-warning]="dato.cantidad<=dato.minimo">
                        <td>{{dato.id}}</td>
                        <td>{{dato.nombre}}</td>
                        <td>{{dato.medida==false?'':dato.medida}}</td>
                        <td>
                            <div class="minimo">
                                <input type="number" min="0" class="minimo_inp" (input)="actualizarMin($event)" value="{{dato.minimo}}">
                            </div>
                        </td>
                        <td>{{dato.cantidad}}</td>                        
                        <td >
                            <div class="entregado">
                                <input type="number" min="0">
                                <button class="btn btn-primary btn-sm " (click)="descontar($event)" ><i class="fa fa-thumbs-up"></i></button>
                            </div>
                        </td>                    
                        <td>
                            <select name="personal" id="personal" >
                              
                                @for(empleado of empleados;track empleado.nombre){
                                    <option value="" >{{empleado.nombre}}</option>
                                }                               
                               
                             </select>
                        </td>                        
                        <td>
                            <input type="text" value="">
                        </td>    
                    </tr>
                }
            </tbody>
        
        </table>
    </div>
</section>